<div class="top-image">
  <div class="top-info-box">
    <h1 class="top-info">キャンプ場で繋がろう</h1>
  </div>
    <p class="top-info-info">
    キャンプキャンプキャンキャンキャンキャン<br>
    キャンキャンキャンキャンキャン<br>
    キャンキャンキャンキャンキャンキャン<br>
    キャンキャンキャンキャンキャンキャン<br>
    キャンキャンキャンプププププププププププ<br>
    プププププププププププププ</p>
</div>

  <div class="col-xs-12 top-page-about">
    <div class="col-xs-6">
      <div class="top-about-left">
        <p><img src="assets/tipi2.png" alt="" class="top-subimage"></p>
        <h2>キャンプ場にいる</h2>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="top-about-left">
        <p><img src="assets/camper-van2.png" alt="" class="top-subimage"></p>
        <h2>キャンプ場に行きたい</h2>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">

      <!-- キャンプ場にいる -->
      <div class="col-xs-12 top-page-iru">
        <div>
          マップ画面へ
          <img src="assets/about1.png" alt="" class="about-image">
        </div>
        <div>現在地をクリック</div>
        <div>吹き出しをクリックしてキャンプ場詳細画面へ</div>
        <div>掲示板で募集している人をチェック</div>
        <div>チャットで自由にトークしよう！</div>
        <div>掲示板を作成してみよう</div>

      </div>


      <!-- キャンプ場に行きたい -->
      <div class="col-xs-12 top-page-iru">
        <div>キャンプ場を検索してみよう</div>
        <div>掲示板を検索してみよう</div>
        <div>掲示板にコメントしてみよう</div>
        <div>フリーチャットで何が盛り上がっているか見てみよう</div>
        <div>キャンプ場に行ってみよう</div>
      </div>

    </div>
  </div>
