<div class="top-image">
  <h1 class="top-info">キャンプ場で繋がろう</h1>
  <p class="top-about"><%= link_to 'このサイトについて', about_path %></p>
  <div>キャンプ場にいる</div>
  <div>キャンプ場に行きたい</div>
</div>

<div class="top-page-about">
  このサイトの使い方
</div>
