<div class="top-image">
  <div class="top-info-box">
    <h1 class="top-info">キャンプ場で繋がろう</h1>
  </div>
    <p class="top-info-info">
    キャンプキャンプキャンキャンキャンキャン<br>
    キャンキャンキャンキャンキャン<br>
    キャンキャンキャンキャンキャンキャン<br>
    キャンキャンキャンキャンキャンキャン<br>
    キャンキャンキャンプププププププププププ<br>
    プププププププププププププ</p>
</div>

<div class="col-xs-12 top-page-about">
  <div class="col-xs-6">
  <div class="top-about-left">
    <p><img src="assets/lantern.png" alt="ランタン" class="top-subimage"></p>
    <p>キャンプ場にいる</p>
  </div>
  </div>
  <div class="col-xs-6">
  <div class="top-about-left">
    <p><img src="assets/lantern.png" alt="ランタン" class="top-subimage"></p>
    <p>キャンプ場に行きたい</p>
  </div>
  </div>
  </div>

</div>
