<div class="top-image clearfix">
  <div class="top-info-box">
    <h1 class="top-info">キャンプ場で繋がろう</h1>
  </div>
    <p class="top-info-info">
    キャンプキャンプキャンキャンキャンキャン<br>
    キャンキャンキャンキャンキャン<br>
    キャンキャンキャンキャンキャンキャン<br>
    キャンキャンキャンキャンキャンキャン<br>
    キャンキャンキャンプププププププププププ<br>
    さあ、ドアを開こう</p>
</div>

  <div class="col-xs-12 top-page-about clearfix">
    <div class="col-xs-4 top-about top-about-left">
        <img src="assets/information.png" alt="" class="top-subimage top-about-left-img">
        <h2>CAMP DOORとは</h2>
    </div>
    <div class="col-xs-4">
      <div class="top-about top-about-center">
        <p><img src="assets/tipi2.png" alt="" class="top-subimage top-about-center-img"></p>
        <h2>キャンプ場にいる</h2>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="top-about top-about-right">
        <p><img src="assets/camper-van2.png" alt="" class="top-subimage top-about-right-img"></p>
        <h2>キャンプ場に行きたい</h2>
      </div>
    </div>
  </div>

  <div class="top-about-under">
      <!-- CAMP DOORとは -->
      <div class="col-xs-12 top-page-camp-door">

        <div class="clearfix">
          <div class="col-xs-4 about-info-left">
            <img src="assets/camp.png" alt="" class="about-image">
            <img src="assets/happy.png" alt="" class="about-image-phone">
          </div>
          <div class="col-xs-4 about-info-center">
            <p>各々キャンプを<br>楽しんでいましたが、、、、</p>
          </div>
          <div class="col-xs-4 about-info-right">
            <img src="assets/campfire.png" alt="" class="about-image-phone">
            <img src="assets/camp.png" alt="" class="about-image-right">
          </div>
        </div>

          <div class="triangle">
            <!-- 三角形 -->
          </div>

        <div class="clearfix">
          <div class="col-xs-4 about-info-left">
            <img src="assets/camp.png" alt="" class="about-image">
            <img src="assets/smartphone-call.png" alt="" class="about-image-phone">
          </div>
          <div class="col-xs-4 about-info-center">
            <p><img src="assets/wifi.png" alt="" class="about-image-phone"></br>
            このサイトを使用することで</p>
          </div>
          <div class="col-xs-4 about-info-right">
            <img src="assets/smartphone-call.png" alt="" class="about-image-phone-right">
            <img src="assets/camp.png" alt="" class="about-image-right">
          </div>
        </div>

          <div class="triangle">
            <!-- 三角形 -->
          </div>

        <div class="clearfix">
          <div class="col-xs-4 about-info-left">
            <img src="assets/camp.png" alt="" class="about-image">
          </div>
          <div class="col-xs-4 about-info-center">
            <p><img src="assets/camping.png" alt="" class="about-image-middle"></br>
            他のキャンパーと繋がることができます</p>
          </div>
          <div class="col-xs-4 about-info-right">
            <img src="assets/camp.png" alt="" class="about-image-right">
          </div>
        </div>

      </div>

      <!-- キャンプ場にいる -->
      <div class="col-xs-12 top-page-iru">
        <div>
          マップ画面へ
          <img src="assets/about1.png" alt="" class="about-image">
        </div>
        <div>現在地をクリック</div>
        <div>吹き出しをクリックしてキャンプ場詳細画面へ</div>
        <div>掲示板で募集している人をチェック</div>
        <div>チャットで自由にトークしよう！</div>
        <div>掲示板を作成してみよう</div>

      </div>

      <!-- キャンプ場に行きたい -->
      <div class="col-xs-12 top-page-ikitai">
        <div>キャンプ場を検索してみよう</div>
        <div>掲示板を検索してみよう</div>
        <div>掲示板にコメントしてみよう</div>
        <div>フリーチャットで何が盛り上がっているか見てみよう</div>
        <div>キャンプ場に行ってみよう</div>
      </div>

  </div>
