<div class="container">
  <div>
    <%= link_to 'HOME', root_path, class: "btn btn-primary" %>
    <%= link_to 'MAP', maps_path, class: "btn btn-primary"%>
    <%= link_to '新規登録', new_admin_camp_site_path, class: "btn btn-primary" %>
    <%= link_to 'キャンプ場一覧', admin_camp_sites_path, class: "btn btn-primary" %>
  </div>
</div>
